*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
body{
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.gameContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 20px;
    height: 100vh;
    width: 100vw;
    background-color: #388E3C;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #232f6b;
    box-sizing: border-box;
}
.Players {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.player-1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 7;
}

.player-2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 7;
    grid-row-start: 4;
}

.player-3 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 1;
}

.player-4 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
}
.Mesa {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 4;
    display: flex;
    justify-content: center;
    justify-content:flex-start;
    gap: 20px; 
}

.Deck {
    width: 100px;
    height: 140px;
    background-color: #D72600;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.Deck:active{
    transform: scale(0.95); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Deck .Logo {
    width: 80%;
    height: auto;
}
.players_Cards{
    width: 400px;
    height: 200px;
    margin: 0 auto;
}
.players_Cards .hand {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.players_Cards .card {
    position: absolute;
    font-size: 20px;
    width: 40px;
    height: 70px;
    color: #000;
    font-weight: bold;
    background-color: #000;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    transition:.5s;
    margin: 0px;
}
.hand .card:nth-child(1) { 
    transform: rotate(-20deg) translateX(-80px);
    background-color: #D72600; 
}
.hand .card:nth-child(2) {
     transform: rotate(-10deg) translateX(-60px);
     background-color:#ECD407;
    }
.hand .card:nth-child(3) { 
    transform: rotate(-5deg) translateX(-30px);
    background-color: #379711;
}
.hand .card:nth-child(4){
    background-color: #10ccf2;
} 
.hand .card:nth-child(5) { 
    transform: rotate(5deg) translateX(30px);
    background-color: #379711;
 }
.hand .card:nth-child(6) { 
    transform: rotate(10deg) translateX(60px);
    background-color:#ECD407;
 }
.hand .card:nth-child(7) {
     transform: rotate(20deg) translateX(80px);
     background-color: #D72600;
}

.players_Cards .card:hover {
    transform: scale(1.2) translateY(-20px);
    z-index: 2;
}
.uno-logo-button {
    grid-column-start: 7;
    grid-row-start: 8;
    width: 120px;
    height: 60px;
    background-color: #D72600;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}
.uno-logo-button .Logo{
    width: 80%;
    height: 70%;
}

.uno-logo-button:hover {
    transform: scale(1.1);
    background-color: #D81B00;
}


.uno-logo-button:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}